.cards__panel{
  display: flex;
}

@media screen and (min-width: 767px) {  
  .cards__panel {
    width: 918px;
    flex-direction: row;

    >:first-child {
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px
    }

   >:last-child {
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
   }
  }
}

@media screen and (max-width: 767px) {
  .cards__panel {
    flex-direction: column;
   
    >:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;     
    }

    >:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
}
